.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bird {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg');
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  animation: fly-cycle 1s steps(10) infinite;
}

.bird-container {
  position: absolute;
  top: 10%;
  left: -10%;
  animation: fly-right 15s linear infinite;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-right {
  0% {
    transform: translateX(0) scale(0.3);
  }
  100% {
    transform: translateX(100vw) scale(0.6);
  }
}
